* {
  margin: 0%;
  padding: 0%;
  font-size: 21px;
}
body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* ----- HEADER ----- */
header {
  background-color: darkolivegreen;
  padding: 2vh;
  color: azure;
  display: grid;
  grid-template-rows: 2;
  text-align: center;
}
.header-access_bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-top: 3vh;
}
.title {
  font-size: 32px;
}

/* ----- FOOTER ----- */
footer {
  color: azure;
  background-color: darkgreen;
  padding-top: 2vh;
  padding-bottom: 4vh;
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: center;
}

/* ----- LINKS ----- */
a {
  color: azure;
  text-decoration: none;
}
a:hover {
  color: chartreuse;
}

/* ----- INDEX PAGE ----- */
.info-start {
  color: azure;
  background-color: darkseagreen;
  margin-top: 6vh;
  margin-bottom: 6vh;
  margin-left: 5vw;
  margin-right: 5vw;
  padding-top: 2vh;
  padding-bottom: 5vh;
  padding-left: 3vw;
  padding-right: 3vw;
  text-align: center;
}
.gap {
  margin-top: 2vh;
}
.mA-unit {
  margin-left: 1vw;
  margin-right: 1vw;
}
.info-start_img {
  min-width: 300px;
  width: 30%;
}

/* ----- GAMES PAGE ----- */ /*  THIS IS VERY BROKEN  */
.all-games {
  width: 100%;
}
.games-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  width: 90%;
  margin: 5%;
}
.game-container img {
  align-content: right;
}
.game {
  width: 30%;
  min-width: 300px;
  margin: 1%;
}
.sub-title {
  font-size: 28px;
  margin: 2vh 0 2vh 0;
  text-align: center;
}
.linesmol2 {
  width: 60%;
  height: 3px;
  background-color: rgb(139, 120, 109);
  margin: 0 auto;
}
.gImg {
  width: 100%;
  min-width: 150px;
}

/* ----- HOW2PLAY PAGE ----- */

/* ----- ABOUT PAGE ----- */
.aboutS {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.abo {
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.linesmol {
  width: 60%;
  height: 3px;
  background-color: rgb(139, 120, 109);
}

.f {
  font-style: italic;
}

.bout {
  margin-bottom: 0%;
  margin-top: 15px;
}

/* ----- JUGS GAME ----- */
.white-txt {
  color: azure;
}
.jug-grid {
  display: grid;
  grid-template-rows: 100px 50px 180px 300px 100px 100px;
  place-items: center;
}
.jug1-contents {
  margin: 5%;
}
.points {
  height: 100px;
  width: 150px;
  text-align: center;
  line-height: 75px;
}
.goal {
  height: 80px;
  width: 240px;
  text-align: center;
  line-height: 80px;
}
.jugs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 300px;
  width: 600px;
  text-align: center;
  line-height: 300px;
}

.backg {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.backg-jug {
  background-image: url("jug.png");
}
.backg-goal {
  background-image: url("Goal-oval.png");
}
.backg-points {
  background-image: url("Score-board.png");
}

/* ----- PRIME STAIRS GAME ----- */

/* ----- CAKESPLITTER ----- */

/* ----- STOCKS! GAME ----- */
