* {
  margin: 0%;
  padding: 0%;
}

/*  ABOUT PAGE ONLY  */
.aboutS {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.abo {
  margin: 10vh;
}

.linesmol {
  width: 60%;
  height: 3px;
  background-color: rgb(139, 120, 109);
}

.f {
  margin-top: 0%;
}

p {
  margin-bottom: 0%;
  margin-top: 15px;
}

/*  HEADER  */
header {
  background-color: darkolivegreen;
  padding: 2vh;
  color: azure;
}
.header-grid {
  display: grid;
  grid-template-rows: 2;
  text-align: center;
}
.header-access_bar {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  margin-top: 3vh;
}

/*  LINKS  */
a {
  color: azure;
  text-decoration: none;
}
a:hover {
  color: chartreuse;
}
